<template>
      <v-layout column  class="pa-4">
    <v-flex xs12 sm8 md6>

        <CHeader titulo="My Travelers"/>                
    </v-flex>
  </v-layout>
</template>
<script>
import CHeader from '@/components/CHeader'
export default {
    components:{
        CHeader
    },
  data() {
    return {};
  }
};
</script>
