<template>
      <v-layout column  class="pa-4">
    <v-flex xs12 sm8 md6>

        <CHeader titulo="My Account"/>                
    </v-flex>
  </v-layout>
</template>
</template>
<script>
import CHeader from '@/components/CHeader'
export default {
    components:{
        CHeader
    },
  data() {
    return {};
  },
    created(){
    console.log(this.tarjetas)
    this.$store.commit('SET_PAGINA',4)
  },
};
</script>
