<template>
  <v-layout column class="pa-4">
    <v-flex xs12>
      <v-card>
        <v-card-text>
          <v-row class="align-center">
            <v-col v-if="defaultCard" md="1" cols="1" ><img src="@/assets/img/greenOk.svg" height="20" alt="" srcset=""></v-col>
            <v-col v-if="!defaultCard" md="1" cols="1" ><img src="@/assets/img/greyOk.svg" height="20" alt="" srcset=""></v-col>
            <v-col md="2" ><img src="@/assets/img/Visa.svg" height="40" alt="" srcset=""></v-col>
            <v-col md="6" class="ml-6 ml-sm-1">
              <v-row >{{maskedCardNumber}}</v-row>
              <v-row><span class="caption">Ex.Date: {{cardMonth}}/{{cardYear}}</span> </v-row>
            </v-col>
            <v-col md="1" cols="6" ><v-btn text class="grey--text" @click="OpenModal(idCard,1)">Remove</v-btn></v-col>
            <v-col md="1" cols="6"><v-btn text class="primary--text" @click="OpenModal(idCard,2)">Default</v-btn></v-col> 
          </v-row>
          </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import { mapState } from "vuex";
import { mixins } from "@/mixins/mixins.js";
export default {
  mixins: [mixins],
  props: {
    idCard:{
      default:null,
      type:String
    },
    defaultCard:{
      default:false,
      type:Boolean
    },
    cardNumber:{
      default:'4024562111775232',
      type:String
    },
    cardMonth:{
      default:'04',
      type:String
    },
    cardYear:{
      default:'20',
      type:String
    }
  },

  data() {
    return {
    };
  },
  methods:{

  },
  computed:{
    ...mapState([
      "Modal"
    ]),
    maskedCardNumber(){
      return '************'+ this.cardNumber.substr(-4)
    }
  }
};
</script>
