<template>
  <v-layout column class="pa-4">
    <v-flex xs12>
      <h2 style="color:#113456!important">{{titulo}}</h2>
      <v-divider></v-divider>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  props: {
    titulo: {
      default: "Titulo",
      type: String
    }
  },

  data() {
    return {};
  }
};
</script>
