<template>
  <v-app>
    <v-card class="overflow-hidden banner">
      <v-col class>
        <v-row class="align-center">
          <img src="@/assets/logo01.svg" height="50px" alt />
          <h2 class="white--text">iVisa</h2>
          <v-spacer></v-spacer>
          <span class="white--text body-2 iconmenues">why iVisa</span>
          <span class="white--text body-2 iconmenues">Contact us</span>
          <v-btn class="iconmenues" outlined color="white">Check status</v-btn>
          <v-btn class="white--text iconmenues" color="light-green">Get a Visa</v-btn>
          <v-app-bar-nav-icon color="white" class="d-flex d-sm-none"></v-app-bar-nav-icon>
        </v-row>
        <v-divider light></v-divider>
        <v-row class="white--text justify-center pa-6">
          <h2 style="text-decoration: underline; margin:25px">{{title}}</h2>
        </v-row>
      </v-col>
    </v-card>
    <v-container class="d-flex flex-column justify-center pa-6">
      <v-tabs fixed-tabs color="green">
        <v-tab
          v-for="(line, index) in secciones"
          :key="index"
          @click="goto(line.path); title = line.label"
        >
          <img class="mr-2" height="20px" :src="line.icon" alt srcset />
          <span class="iconmenues">{{line.label}}</span>
        </v-tab>
      </v-tabs>
      <v-card class="pa-4">
        <nuxt />
      </v-card>
      <v-card v-if="tarjetas" class="pa-4 mt-2" @click="OpenModal(null,3)">
        <span class="primary--text">+ Add New Card</span>
      </v-card>
    </v-container>

    <v-dialog v-model="estadoModal" width="300" persistent>
      <v-card>
        <v-icon @click="cierraModal()">mdi-close</v-icon>
        <v-card-text>
          <AddModal v-if="tipoModal==3"/>
          <DefaultModal  v-if="tipoModal==2"/>
          <RemoveModal v-if="tipoModal==1"/>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-app>
</template>

<script>
import { mapState } from "vuex";
import { mixins } from "@/mixins/mixins.js";
import DefaultModal from "@/components/modals/DefaultModal.vue"
import RemoveModal from "@/components/modals/RemoveModal.vue"
import AddModal from "@/components/modals/AddModal.vue"
export default {
  mixins: [mixins],
  components:{
    DefaultModal,
    RemoveModal,
    AddModal
  },
  data() {
    return {
      title: "MY CARDS",
      secciones: [
        {
          icon: require("@/assets/img/myapp.svg"),
          label: "MY APPLICATION",
          path: "/apps"
        },
        {
          icon: require("@/assets/img/mytravelers.svg"),
          label: "MY TRAVELERS",
          path: "/travelers"
        },
        {
          icon: require("@/assets/img/mycards.svg"),
          label: "MY CARDS",
          path: "/cards"
        },
        {
          icon: require("@/assets/img/myaccount.svg"),
          label: "MY ACCOUNT",
          path: "/account"
        }
      ]
    };
  },
  computed: {
    ...mapState(["modal", "pagina"]),
    estadoModal() {
      return this.modal ? this.modal.estado : false;
    },
    tipoModal() {
      return this.modal ? this.modal.tipo : 1;
    },
    tarjetas(){
      return this.pagina==3 ? true:false
    }
  },
  created(){
  }
};
</script>
<style>
.banner {
  background: linear-gradient(rgba(8, 6, 136, 0.45), rgba(46, 56, 192, 0.45)),
    url("../assets/banner-sky-6.jpg");
  background-color: #1a3;
  opacity: 0.7;
}
.iconmenues {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}
@media (max-width: 600px) {
  .iconmenues {
    display: none !important  ;
  }
}
</style>
