<template>
  <v-layout column justify-center align-center class="pa-4">
    <v-flex xs12 sm8 md6>
<!--       <v-tabs fixed-tabs color="green" show-arrows>
        <v-tab v-for="(line, index) in secciones" :key="index"><img class="mr-2" height="20px" :src="line.icon" alt="" srcset="">{{line.label}}</v-tab>
      </v-tabs>
      <v-card class="pa-4 /">
        <v-card-text>hola</v-card-text>
      </v-card> -->
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  components: {},
  data() {
    return {
    };
  },
    created(){
    console.log(this.tarjetas)
    this.$store.commit('SET_PAGINA',2)
  },
};
</script>
