<template>
  <v-layout column class="pa-4">
    <v-flex xs12>
      <h2 style="color:#113456!important">+Add new card</h2>
      <v-divider class="mb-3"></v-divider>
      <v-row class="justify-center">
        <img class="mr-2" src="@/assets/img/greenOk.svg" height="30" alt />
        <span v-html="text"></span>
      </v-row>
      <v-row class="justify-center">
        <img src="@/assets/img/tarjetas.jpg" width="200" alt />
      </v-row>
      <v-row class="justify-center pa-4">
        <v-form @submit.prevent="AddCard">
          <v-row>
            <v-text-field
              v-validate="'required'"
              data-vv-name="creditcard.CardName"
              data-vv-as="Name on Card"
              :error-messages="errors.collect('creditcard.CardName')"
              label="Name on Card"
              v-model="creditcard.CardName"
              outlined
              dense
            ></v-text-field>
          </v-row>
          <v-row>
            <v-text-field
              v-validate="'required|credit_card'"
              data-vv-name="creditcard.CardNumber"
              data-vv-as="Credit/Debit Card Number"
              :error-messages="errors.collect('creditcard.CardNumber')"
              label="Credit/Debit Card Number"
              v-model="creditcard.CardNumber"
              outlined
              dense
            ></v-text-field>
          </v-row>
          <v-row>
            <v-text-field
              v-validate="'required|numeric|min_value:1|max_value:12'"
              data-vv-name="creditcard.CardExpMonth"
              data-vv-as="Exp.Month"
              :error-messages="errors.collect('creditcard.CardExpMonth')"
              label="Exp.Month"
              v-model="creditcard.CardExpMonth"
              outlined
              dense
            ></v-text-field>
          </v-row>
          <v-row>
            <v-text-field
              v-validate="'required'"
              data-vv-name="creditcard.CardExpYear"
              data-vv-as="Exp.Year"
              :error-messages="errors.collect('creditcard.CardExpYear')"
              label="Exp.Year"
              v-model="creditcard.CardExpYear"
              outlined
              dense
            ></v-text-field>
          </v-row>
          <v-row>
            <v-text-field
              v-validate="'required|numeric|min:3|max:3'"
              data-vv-name="creditcard.CardSegCode"
              data-vv-as="Segurity Code"
              :error-messages="errors.collect('creditcard.CardSegCode')"
              label="Segurity Code"
              v-model="creditcard.CardSegCode"
              outlined
              dense
            ></v-text-field>
          </v-row>
          <v-row class="justify-center">
            <img src="@/assets/img/seculogo.png" height="35" alt />
          </v-row>
          <v-row>
            <v-col md="12">
              <v-btn color="#52d03e" type="submit" class="white--text" width="100%">Submit payment</v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-row>
    </v-flex>
  </v-layout>
</template>
<script>
import { mixins } from "@/mixins/mixins.js";
import { mapState } from "vuex";
export default {
  mixins: [mixins],
  props: {},
  computed: {
    ...mapState(["creditcard"])
  },
  data() {
    return {
      text: "We Accept All Major <br/> Debit/Credit Cards"
    };
  }
};
</script>
