<template>
  <v-layout column class="pa-4">
    <v-flex xs12>
      <img src="@/assets/img/DefaultIco.svg" height="100" alt srcset />
      <h2 style="color:#113456!important">Change default card</h2>
      <p v-html="text"></p>
      <v-row> 
          <v-col  md="12"><v-btn color="#52d03e" @click="setAsDefault()" class="white--text" width="100%">Yes</v-btn></v-col>
      </v-row>
      <v-row> 
          <v-col  md="12"><v-btn @click="cierraModal()" outlined  width="100%">Cancel</v-btn></v-col>
      </v-row>
    </v-flex>
  </v-layout>
</template>
<script>
import { mixins } from "@/mixins/mixins.js";
export default {
  mixins: [mixins],
  props: {},

  data() {
    return {
      text:
        "This card will appear as a primary <br/> option for your payment. Are you <br/> sure you want to set this card <br/> as default"
    };
  }
};
</script>
