<template>
      <v-layout column  class="pa-4">
    <v-flex xs12 sm8 md6>
        <CHeader titulo="My Cards"/>
        <CCard v-for="(item, index) in tarjetas" :key="index" :idCard="item.id" :cardNumber="item.CardNumber" :defaultCard="item.defaultCard" :cardMonth="item.CardExpMonth"  :cardYear="item.CardExpYear"/> 
    </v-flex>
  </v-layout>
</template>
<script>
import CHeader from '@/components/CHeader'
import CCard from '@/components/CCard'
import { mapState } from "vuex";
export default {
    components:{
        CHeader,
        CCard
    },
    computed:{
    ...mapState([
      "cards"
    ]),
    tarjetas(){
      return this.cards? this.cards:null
    }
  },    
  data() {
    return {
    };
  },
  created(){
    console.log(this.tarjetas)
    this.$store.commit('SET_PAGINA',3)
  },

};
</script>
